body,
div,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
}

img {
  width: 100%;
}

body {
  font-family: Meiryo, sans-serif;
  max-width: 1280px;
  width: 100%;
  margin: auto;
  color: #333;
}

/* .aboutimage {
  text-align: center;
  width: 1280px;
  height: 600px;
} */

/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 230px;
}

.header__title {
  font-size: 30px;
  color: #fff;
  background-color: #393e46;
  padding: 10px 21px;
}

.header__nav-list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.header__nav-link {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

/* メインビジュアル */
.mv {
  width: 100%;
}

.mv__img {
  width: 100%;
}

/* Aboutセクション */
.about {
  /* margin: auto;
  width: 1280px; */
  width: 533px;
  margin: 80px auto 0;
}

.about__title {
  width: 110px;
  margin: 48px auto;
  padding-bottom: 0%;
  border-bottom: 1px solid;
}

.about__content {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 70px;
}

.about__content-img {
  width: 100px;
}

.about__content-title {
  font-size: 16px;
}

.about__content-text {
  margin-top: 10px;
  font-size: 14px;
}
.bicycle__ttitle {
  text-align: center;
  margin-top: 100px;
  width: 117px;
  margin: 48px auto;
  padding-bottom: 0%;
  border-bottom: 1px solid;
}
.bicycle__list {
  display: flex;
  gap: 10px;
  margin-top: 60px;
  list-style: none;
}
.bicycle__list-title {
  margin-top: 10px;
  text-align: center;
}
.bicycle__list-text {
  margin-top: 44px;
  text-align: center;
}
/* フッター */
footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  margin-top: 110px;
}

.is-pc {
  display: block;
}
.is-sp {
  display: none;
}
/* メディアクエリの書き方（レスポンシブ対応） */
@media screen and (min-width: 461px) and (max-width: 960px) {
}
/* 461px ~ 960px */

@media screen and (max-width: 460px) {
}
/* 0 ~ 460px */

@media screen and (max-width: 768px) {
  .is-pc {
    display: none;
  }
  .is-sp {
    display: block;
  }
  .header {
    padding: 10px;
  }

  .header__title {
    font-size: 20px;
  }

  .mv {
    width: 100%;
    height: 600px;
  }

  .mv__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /*about*/
  .about {
    width: 100%;
  }
  .about__title {
    text-align: center;
  }
  .about__content-img {
    width: 100px;
    margin: auto;
  }
  .about__content-title {
    font-size: 16px;
  }

  .about__content-text {
    font-size: 14px;
    margin-top: 10px 29px 0px 15px;
    font-size: 14px;
  }
  .bicycle__ttitle {
    text-align: center;
    margin-top: 100px;
  }
  .bicycle__list {
    flex-direction: column;
    margin: 60px 15px 0px 15px;
    list-style: none;
  }
  .bicycle__list-title {
    margin-top: 10px;
    text-align: center;
  }
  .bicycle__list-text {
    margin-top: 10px;
    text-align: center;
  }
  /* フッター */
  footer {
    text-align: center;
    font-size: 10px;
    margin-top: 175px;
  }
}
